.cluster-label, .cluster-label p, .cluster-label span { font-weight: 700 !important; }
.edgeLabel .label rect, .labelBkg { fill: #FFFFFF !important; background-color: #FFFFFF !important; }
.edgeLabel, .edgeLabel p { background-color: #FFFFFF !important; }
